.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  color: #fff;
  text-align: center;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.message {
  color: #aaa;
}

:global(.light) .container {
  color: #121212;
}

:global(.light) .message {
  color: #505050;
}
